<p id="notice"><%= notice %></p>
<div class="row mt-4">
  <div class="col-6">
    <section>  
      <h2 class="t-3 mb-2"><%= @user.username %>'s page</h2>
      <i class="mb-2">Joined <%= time_ago_in_words(@user.created_at) %> ago</i>
    </section>

    <section class="py-2">
      <%= avatar_for @user %>
      <%= render 'profiles/follows' %>
    </section>
  </div>

  <div class="col-6">
    <h3><%= pluralize(@user.articles.count, 'article') %></h3>
    <hr>
    <% @user.articles.each do |article| %>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"><%= link_to article.title, article %></h4>
          <h6 class="card-subtitle mb-2 text-muted">Posted in: <%= article.created_at.strftime("%b %d") %></h6>
          <p class="card-text">Upvote: <%= article.favorites_count %></p>
        </div>
      </div>
    <% end %>
  </div>

</div>



