<p id="notice"><%= notice %></p>
<div class="row mt-4">
  <div class="col-6">
    <section>  
      <h2 class="t-3 mb-3">Welcome to <%= @user.username %>'s page</h2>
      <div class="b-3">
        <p>Joined <%= time_ago_in_words(@user.created_at) %> ago</p>
        <p>Email: <%= @user.email %></p>
      </div>
      <%= avatar_for @user %>
    </section>

    <section>
      <%= render 'shared/stats' %>
    </section>

    <% if current_user.following?(@user) %>
      <%= button_to "Unfollow", profile_follow_path(@user), remote: true, method: :delete, class: "unfollow-btn" %>
    <% else %>
      <%= button_to "Follow", profile_follow_path(@user), remote: true, method: :post, class: "follow-btn" %>
    <% end %>
  </div>

  <div class="col-6">
    <h3><%= pluralize(@user.articles.count, 'article') %></h3>
    <hr>
    <% @user.articles.each do |article| %>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"><%= link_to article.title, article %></h4>
          <h6 class="card-subtitle mb-2 text-muted">Posted in: <%= article.created_at.strftime("%b %d") %></h6>
          <p class="card-text">Upvote: <%= article.favorites_count %></p>
        </div>
      </div>
    <% end %>
  </div>

</div>



