<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Followers</strong>
  <%= @followers_count %>
</p>

<p>
  <strong>Followings</strong>
  <%= @followeds_count %>
</p>


