<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-5">
    <section>
      <h2>Profile: <%= @user.username %></h2>
      <p>
        <strong>Email: </strong>
        <%= @user.email %>
      </p>
      <%= avatar_for @user %>
    </section>

    <section>
      <%= render 'shared/stats' %>
    </section>

    <% if current_user.following?(@user) %>
      <%= button_to "Unfollow", profile_follow_path(@user), remote: true, method: :delete, class: "unfollow-btn" %>
    <% else %>
      <%= button_to "Follow", profile_follow_path(@user), remote: true, method: :post, class: "follow-btn" %>
    <% end %>
  </div>

  <div class="col">
    <h2>Posts (<%= @user.articles.count %>)</h2>
    <%= render @user.articles %>
  </div>

</div>



