<%= turbo_frame_tag dom_id comment do %>
  <%= turbo_frame_tag :notice %>
  <div class="py-2 border-bottom comment">
    <p><%= comment.body %></p>
    <small class="d-inline-block mb-3 text-secondary border-bottom">
      Posted <%= time_ago_in_words(comment.created_at) %> ago by <%= comment.user.username %>
    </small>
    <div class="btn-group ms-4">
      <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_article_comment_path(comment.article, comment),
                          data: { turbo_frame: dom_id(comment) }, class: 'btn btn-sm btn-outline-primary me-2' %>
      <%= button_to article_comment_path(comment.article, comment), method: :delete,
        form: { data: { turbo_confirm: 'Are you sure?' }}, data: { turbo_frame_target: :_top },
        class: "btn btn-sm btn-outline-danger" do %>
        <i class="fa fa-trash"></i>
      <% end %>
    </div>
  </div>
<% end %>