<div class="py-2 border-bottom comment comment-<%= comment.id%>">
    <p><%= comment.body %></p>
    <small class="d-inline-block mb-3 text-secondary border-bottom">Posted <%= time_ago_in_words(comment.created_at) %> ago by by <%= comment.user.username %></small>
    <div class="btn-group ms-4">
      <%= link_to '<i class="fas fa-pen"></i>'.html_safe, edit_article_comment_path(comment.article, comment), class: "btn btn-sm btn-outline-primary" %>
      <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, article_comment_path(comment.article, comment), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-outline-danger" %>
    </div>
</div>