<div class="card article-<%= article.id%>">
  <div class="card-header">
    <h3><%= link_to article.title, article %></h3>
  </div>
  <div class="card-body">
    <p>Description: <%= article.description %></p>
    <p>Author: <%= article.user.username %></p>
    <p><%= article.created_at.strftime("%b %d") %>
  </div>
  <div class="card-footer">
    <div class="btn-group">
      <% if article.user == current_user %>
        <%= link_to "Edit", edit_article_path(article), class: "btn btn-sm btn-outline-primary" %>
        <%= link_to "Destroy", article, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-outline-danger" %>
      <% end %>
    </div>
  </div>
</div>
