<div class="card article-<%= article.id%> col-6">
  <div class="card-header">
    <h3><%= article.title %></h3>
  </div>
  <div class="card-body">
    <p>Description: <%= article.description %></p>
    <p>Author: <%= article.user.username %></p>
    <p>Posted in: <%= article.created_at.strftime("%b %d") %></p>
  </div>
  <div class="card-footer">
    <%= link_to "Read more", article, class: "btn btn-sm btn-primary" %>
    <div class="btn-group">
      <% if article.user == current_user %>
        <%= link_to "Edit", edit_article_path(article), class: "btn btn-sm btn-outline-primary" %>
        <%= link_to "Destroy", article, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-outline-danger" %>
      <% end %>
    </div>
  </div>
</div>
