
<%= simple_form_for(@article) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.label :content %>
    <%= f.rich_text_area :body %>
    <%= f.input :description %>
    <%= f.input :tag_list, multiple: :true, class: "selectize" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
