<p id="notice"><%= notice %></p>

<div class="mb-4">
  <h4 class="d-inline p-2"><%= link_to "All Articles", root_path %></h4> |
  <h4 class="d-inline p-2"><%= link_to "Feeds", feed_path %></h4> |
  <h4 class="d-inline p-2"><%= link_to " My Articles", articles_path %></h4> |
  <h4 class="d-inline p-2"><%= link_to 'New Article', new_article_path %></h4>
</div>

<hr>

<div class="row">
  <div class="col-6 publish">
    <h2>Published</h2>
    <%= render @articles %>
  </div>
  <div class="col-6 draft">
    <h2>Draft</h2>
    <% @draft_articles.each do |article| %>
      <%= render 'article', article: article %>
    <% end %>
  </div>
</div>

