<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-8">
    <h2 class="mt-2">
      <strong><%= @article.title %></strong>    
    </h2>

    <p class="lead">
      by
      <i><%= link_to @author, profile_path(@author) %></i>
    </p>
    <hr>
    <div class="bg-light">
      <%= @article.body %>
    </div>

    <hr>
    <div data-controller="comments">
      <div class="card mb-3">
        <%# NOTE COMMENT STEP 3: Wrap the comments in `<div id="comments">` so that you can select the wrapper when using javascript in `app/views/comments/create.js.erb`. %>
        <div data-comments-target="commentList" class="card-body">
          <% @article.comments.each do |comment| %>
            <%= render partial: "comments/comment", locals: { comment: comment } %>
          <% end %>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-header">
          <h4>Add A Comment:</h4>
        </div>
        <div class="card-body">
            <%# NOTE COMMENT STEP 3: Load the comment form. %>
          <%= render "comments/form" %>
        </div>
      </div>
    </div>
    
  </div>

  <div class="col-sm-4">
    <div>
      <p class=""><i>Upvote: <%= @article.favorites_count %></i><p>
      <%= link_to '<i class="fas fa-thumbs-up"></i>'.html_safe, article_favorite_path(@article), remote: true, method: :post, class: 'btn btn-sm btn-outline-primary d-inline' %>
      <%= link_to '<i class="fas fa-thumbs-down"></i>'.html_safe, article_favorite_path(@article), remote: true, method: :delete, class: 'btn btn-sm btn-outline-danger d-inline' %>
    </div>

    <p><strong>Tags</strong></p>
    <ul>
      <% @article.tag_list.each do |tag| %>
        <li><%= link_to tag, tagged_path(tag: tag) %></li>
      <% end %>
    </ul>

    <p><strong>Articles same tag</strong></p>
    <ul data-controller="relative"
        data-relative-target="articles"
        data-relative-url-value="<%= relative_article_path(@article) %>">
    </ul>

    <hr>

    <% if @article.user == current_user %>
      <div class="mt-4">
        <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-primary' %> |
        <%= link_to 'Back', articles_path, class: 'btn btn-light' %>
      </div>
    <% end %>

  </div>
</div>
