<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @article.slug %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>

<p><strong>Tags</strong></p>
<ul>
  <% @article.tag_list.each do |tag| %>
    <li><%= link_to tag, tagged_path(tag: tag) %></li>
  <% end %></p>
</ul>

<p><strong>Articles same tag</strong></p>
<ul>
 <% @article.find_related_tags.each do |r| %>
    <li><%= link_to r.title, article_path(slug: r.slug)  %></li>
  <% end %>
</ul>

<%= link_to "Favorite", article_favorite_index_path(@article) %>

<br>

<div class="card mb-3">
    <div class="card-header">
        <h4 class="mb-0">Add A Comment:</h4>
    </div>
    <div class="card-body">
        <%# NOTE COMMENT STEP 3: Load the comment form. %>
        <%= render "comments/form" %>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header">
        <h4>Comments:</h4>
    </div>
    <%# NOTE COMMENT STEP 3: Wrap the comments in `<div id="comments">` so that you can select the wrapper when using javascript in `app/views/comments/create.js.erb`. %>
    <div id="comments" class="card-body">
        <%= render @article.comments %>
    </div>
</div>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
