<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_profile_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.followeds.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_profile_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
</div>

<!-- Button trigger modal -->
<div data-controller="following"
    data-following-url-value="<%= following_profile_path(@user) %>">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-action="click->following#show">
    Following
  </button>
</div>

