<div class="card article-<%= article.id %> border-0 position-relative">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted bg-light"><%= article.user.username %> posted:</h6>
    <h4 class="card-title"><%= link_to article.title, article %></h4>
    <p class="card-text"><i><%= truncate(article.body.to_plain_text, length: 60) %></i></p>
    <div class="card-text">
      <%= article.created_at.strftime("%b %d") %> | 
      <% if current_user.saved?(article) %>
        <%= link_to '<i class="fas fa-bookmark"></i>'.html_safe, article_clip_path(article), method: :delete %>
      <% else %>
        <%= link_to '<i class="far fa-bookmark"></i>'.html_safe, article_clip_path(article), method: :post %>
      <% end %>
    </div> 
  </div>
</div>
