<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-8">
    <div>
      <h4 class="d-inline p-2"><%= link_to "All Articles", root_path %></h4> |
      <h4 class="d-inline p-2"><%= link_to "Feeds", feed_path %></h4> |
      <h4 class="d-inline"><%= link_to " My Articles", articles_path %></h4>
    </div>
    <hr>
    <div id="posts">
      <% @articles.each do |article| %>
        <%= render 'home/article', article: article %>
      <% end %>
    </div>
  </div>
  <%= render 'home/right' %>
</div>