<p id="notice"><%= notice %></p>

<h1 class="mb-4">
  <span>All Articles</span>
</h1>

<%= link_to 'New Article', new_article_path %>

<div class="row">
  <div class="col-md-6">
    <%= render @articles %>
  </div>
  <div class="col-md-4">
    <h3>All Tags</h3>
    <% @tags.each do |tag| %>
      <%= link_to tag, tagged_path(tag: tag), class: "btn btn-primary" %>
    <% end %>

    <h3>View Count</h3>
    <ul>
      <% @articles.each do |article| %>
        <li><%= article.title %> - <%= article.impressions.size %></li>
      <% end %>
    </ul>
  </div>
</div>