<p id="notice" data-controller="flash"><%= notice %></p>

<div class="row">
  <div class="col-sm-8">
    <div class="mb-4">
      <%= render "home/tab" %>
    </div>
    <div data-controller="infinite-scroll">
      <div data-infinite-scroll-target="entries">
        <%= render partial: "article", collection: @articles %>
      </div>
      <div data-infinite-scroll-target="pagination">
        <%== pagy_nav @pagy %>
      </div>
    </div>
  </div>
  <%= render 'home/right' %>
</div>