<!-- Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid justify-content-between">
    <!-- Left elements -->
    <div class="d-flex">
      <!-- Brand -->
      <%= link_to "Mini Devto", root_path, class:"navbar-brand me-2 mb-1 d-flex align-items-center" %>

      <!-- Search form -->
      <%= form_with(url: root_path, method: :get, local: true, class: "input-group w-auto my-auto d-none d-sm-flex ms-2") do |f| %>
         <%= f.text_field :search, placeholder: "Search", 
          class: "form-control rounded" %>

        <span class="input-group-text border-0 text-white d-none d-lg-flex"
          ><i class="fa fa-search"></i
        ></span>
      <% end %>
    </div>
    <!-- Left elements -->

    <!-- Right elements -->
    <ul class="navbar-nav flex-row">
      <% if current_user %>
        <li class="nav-item me-3 me-lg-1">
          <%= link_to '<span><i class="fas fa-pen"></i>New Article</span>'.html_safe, new_article_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown me-3 me-lg-1">
          <a href="#" role="button"
            class="nav-link dropdown-toggle hidden-arrow"
            id="navbarDropdownMenuLink"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa fa-bell fa-lg"></i>
            <%= turbo_stream_from current_user, :notifications_counter %>
            <span class="badge rounded-pill badge-notification bg-danger" id="notifications_counter">
              <%= @notifications.count %>
            </span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" style="width: 250px"
            aria-labelledby="navbarDropdownMenuLink">
            <li><%= link_to 'Notifications', notifications_path, class: "dropdown-item border-bottom text-uppercase"%></li>
            <%= turbo_stream_from current_user, :notifications %>
            <%= turbo_frame_tag "notifications", target: "_top" do %>
              <div id="notifications-list">
                <%= render partial: 'shared/notification', collection: @notifications %>
              </div>
            <% end %>
          </ul>
        </li>
        <li class="nav-item dropdown mx-2 me-lg-1">
          <a href="#" role="button"
            class="nav-link dropdown-toggle hidden-arrow d-sm-flex align-items-sm-center"
            id="navbarDropdownMenuLink"
            data-mdb-toggle="dropdown"
            aria-expanded="false">
            <%= avatar_for current_user %>
            <strong class="d-none d-sm-block ms-1"><%= current_user.username %></strong>
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <li><%= link_to 'Edit Account', edit_user_registration_path, class:"dropdown-item" %></li>
            <li><%= link_to "Profile", profile_path(current_user), class:"dropdown-item" %></li>
            <li><%= button_to 'Log out', destroy_user_session_path, method: :delete, data: { turbo: false }, class: "dropdown-item" %></li>
          </ul>
        </li>
      <% else %>
        <li class="nav-item mx-2 me-lg-1">
          <%= link_to "Register", new_user_registration_path, class:"nav-link" %>
        </li>
        <li class="nav-item mx-2 me-lg-1">
          <%= link_to "Login", new_user_session_path, class:"nav-link" %>
        </li>
      <% end %>
    </ul>
    <!-- Right elements -->
  </div>
</nav>