<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <%= link_to "Mini Medium", root_path, class:"navbar-brand"%>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
            <li class="nav-item active">
                <%= link_to "Feeds", feed_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "My Articles", articles_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "Notifications", notifications_path, class:"nav-link" %>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            <% if current_user %>
            <li class="nav-item dropdown px-4">
                <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                <%= current_user.username %>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                <li><%= link_to 'Edit Account', edit_user_registration_path, class:"dropdown-item" %></li>
                <li><%= link_to "Profile", profile_path(current_user.username), class:"dropdown-item" %></li>
                <li class="dropdown-divider"></li>
                <li><%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
                </div>
            </li>
            <% else %>
            <li class="nav-item">
                <%= link_to "Create An Account", new_user_registration_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "Login", new_user_session_path, class:"nav-link" %>
            </li>
            <% end %>
        </ul>
    </div>
		</nav>